<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body class="w-[70%] mx-auto py-5">
    <%= render "layouts/top_header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="flex">
      <%= link_to 'HOME', root_path, class: 'mr-8' %>
      <%= link_to 'BACK', 'javascript:history.back()', class: 'mr-8' %>

      <% if user_signed_in? %>
        <%= button_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% end %>
    </div>

    <%= yield %>
    <%= render "layouts/bottom_header" %>
  </body>
</html>
